 /*Plantilla de prueba de Grid */
*{
  box-sizing: border-box;
}

body {
  font-family: Arial, Helvetica, sans-serif;
  background-color: black;
}


.header {
  grid-area: header;
  background-color: black;
  padding: 30px;
  text-align: center;
  font-size: 35px;
}

h2 { 
 
    color:rgb(21, 231, 32)
} 
 
.formulario 
{ 

    display:block;
    text-align: center;
    color:cyan;
} 
.botones 
{ 
  margin-top:25px;
} 
.resultado 
{ 
  margin-top:25px;
}

input[type=number]{
    width: 50px;
} 

form { 

    margin: 0 auto; 
    color:cyan;
    display: inline;
   
}

.grid-container {
  display: grid;
  grid-template-areas: 
    'header header header header header header' 
    'left middle middle middle middle right' 
    'footer footer footer footer footer footer';
  /* grid-column-gap: 10px; - if you want gap between the columns */
} 

.left,
.middle,
.right {
  padding: 10px;
  height: 300px; /* Should be removed. Only for demonstration */
}

/* Style the left column */
.left {
  grid-area: left;
  background-color:black;

}

/* Style the middle column */
.middle {
  grid-area: middle;
  background-color:black;
}

/* Style the right column */
.right {
  grid-area: right;
  background-color:black;

}

/* Style the footer */
.footer {
  grid-area: footer;
  background-color: black;
  padding: 10px;
  text-align: center;
}


@media (max-width: 600px) {
  .grid-container  {
    grid-template-areas: 
      'header header header header header header' 
      'left left left left left left' 
      'middle middle middle middle middle middle' 
      'right right right right right right' 
      'footer footer footer footer footer footer';
  }
}
